{{#if success_msg}}
  <div class="alert alert-success">
    {{success_msg}}
    <span class="close" data-dismiss="alert">&times;</span>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">
    {{error_msg}}
    <span class="close" data-dismiss="alert">&times;</span>
  </div>
{{/if}}